
<div class="container">

<div class="page-header">
  <p class="text-right"> <a href='/logout'>Logout</a> </p>
  <p class="text-left"> <a href='/back'>Bright Ideas</a> </p>
</div>

 <div class="page-header">

 <h3> Name: <%= @user_info.name %></h3>
 <h3> Alias: <%= @user_info.alias %></h3>
 <h3> Email: <%= @user_info.email%></h3>

</div>

<div class="page-header">

<h3> User posts: <%= @user_posts_count %></h3>
<h3> User Likes: <%= @user_likes_count %></h3>

</div>




 </div>
